*{
    background-color: #222;
    color: #fff;
}

body{
    width: 300px;
    height: 300px;
    padding: 5px;
}

h2{
    margin-left: 10%;
    text-align: left;
}

#qrContainer{
    display: block;
    vertical-align: middle;
    width: 85%;
    height: 85%;
   /* margin-top: 2.5%;*/
    margin-left: 7.5%;

    /*border: 15px solid #fff;
    border-radius: 10px 40px;*/
}
