*{
    background-color: #222;
    color: #fff;
}

body{
    width: 300px;
    height: 300px;
    padding: 5px;
}

h2{
    text-align: center;
}

#qrContainer{
    display: block;
    vertical-align: middle;
    width: 80%;
    height: 80%;
    margin-top: 2.5%;
    margin-left: 10%;

    border: 15px solid #fff;
    border-radius: 10px 40px;
}
